html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
   padding: 0 15px;
    
}

.header {
    background-color: black;

    &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em 0;
    }

    &__nav {
        width: 100%;
        padding: 1em 0;
    }
}


.logo {
    text-align: center;
    max-width: 70%;

&__link {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: black;
    font-size: 2em;
    text-transform: uppercase;
    background-color: white;
    border-radius: 1em;
}
}

.menu-toggler {
    margin-left: auto;
    cursor: pointer;
}

.menu {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;

    &__link {
        display: block;
        padding: 5px 5px;
        text-decoration: none;
        color: white;
        border-bottom: 2px dotted black;
        border-radius: 1em;
    }
}

.menu-show {
    display: block;
    background-color: yellow;
}
@media (min-width: 768px) {
    .menu-toggler {
        display: none;
    }

    .header__nav {
        width: 70%;
        margin-left: auto;
    }

    .menu {
        display: flex;
        justify-content: flex-end;

        &__item + &__item {
            margin-left: 1em;
        }

        &__link {
            border: none;
            border-radius: 0,5em;
            padding-left: 0,5em;
            padding-right: 0,5em;
            
        }
    }
.logo {
    max-width: 30%;
}
}

@media (min-width: 992px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }
}